* {
  box-sizing: border-box;
}
body {
  text-align: right;
  direction: rtl;
  font-family: arial;
  margin: 0 auto;
  line-height: 1;
  width: 100%;
}
.container {
  min-width: 900px;
  margin: auto;
  background-color: rgb(144, 144, 144);
}

main {
  margin: auto;
  margin-top: 30px;
  width: 900px;
}
header {
  margin: auto;
  width: 900px;
  height: 105px;
  position: relative;
}
.search-box {
  display: flex;
  top: 20px;
  left: 10px;
  width: 152px;
  position: absolute;
}

nav {
  height: 33px;
  top: 72px;
  margin-right: 143px;
  position: relative;
}

nav > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.dropdown > a,
.dropdown-content > a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.dropdown > a {
  padding-bottom: 33px;
}
.dropdown > a:hover,
.dropdown-content > a:hover {
  color: #005ca0;

  text-decoration: underline;
}

.dropdown:hover > .dropdown-content {
  width: 100%;
  display: block;
  width: fit-content;
  background-color: rgb(144, 144, 144);
}
.dropdown-content {
  top: 33px;
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-content > a:hover {
  background-color: #bcbcbc;
}
.dropdown-content > a {
  padding: 5px;
  display: block;
}
hr {
  background-color: rgb(171, 171, 171);
  height: 1px;
  border: 0;
  margin: 0;
}
.sep {
  margin: 0 16px;
}
.change-lang {
  position: absolute;
  top: 20px;
  left: 180px;
}
.change-lang > a {
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

input {
  width: 132px;
  border: 0 none;
  height: 19px;
  border-top-right-radius: 6px;
}
::placeholder {
  color: #000;
}

.logo {
  position: absolute;
  bottom: -20px;
  right: -8px;
}

.images {
  display: flex;
}

.images > div > img {
  border-bottom-right-radius: 15px;
}

.images > div {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.images > div .overlay {
  position: absolute;
  bottom: 7px;
  left: 48px;
  margin: 0 auto;
  padding: 10px;
  background: rgba(127, 127, 127, 0.9); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 228px;
  height: 77px;
  border-bottom-right-radius: 15px;
}

.overlay-title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.overlay-text {
  margin: 0;
  font-size: 13px;
  margin-top: 4px;
}
.read-more {
  color: #fff;
  float: left;
  position: relative;
  bottom: 4px;
  font-size: 13px;
}
.read-more > a {
  text-decoration: none;
  color: #fff;
}
.read-more > a:hover {
  color: #005ca0;
}
.read-more > a::after {
  content: " \2056";
  font-size: 20px;
  font-weight: bold;
}

.read-more::after {
  font-size: 26px;
}

.cubes {
  display: flex;
  margin: 0 auto;
}

.cubes:nth-child(2) {
  margin: 0 11px;
}

.cube {
  display: flex;
  position: relative;
  margin-top: 18px;
  height: 216px;
  margin-bottom: 38px;

  /* width: 244px; */
  /* padding: 0 24px; */
}
.overlay-cube {
  position: absolute;
  padding: 0 24px;
}
.overlay-cube-title {
  position: relative;
  right: 4px;
  margin-bottom: 15px;
  margin-top: 0;
  /* height: 34px; */
  line-height: 34px;
  font-size: 14px;
  font-weight: bold;
}
.overlay-cube-image {
  position: relative;
}
.overlay-cube-text {
  position: relative;
  /* margin-top: 15px; */
  bottom: 5px;
  margin-bottom: 0;
  float: left;
}
.overlay-cube-text > a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.overlay-cube-text > a:hover {
  color: #005ca0;
}
.overlay-cube-text > a::after {
  content: " \2056";
  font-size: 20px;
  font-weight: bold;
  color: orange;
}
.cubes > .cube:nth-child(2) {
  padding: 0 8px;
}

.overlay-cube-text-left {
  position: relative;
  /* margin-top: 0; */
  bottom: 15px;
  margin-bottom: 20px;
  float: right;
}

.overlay-cube-text-left > a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.overlay-cube-text-left > a:hover {
  color: #005ca0;
}
.overlay-cube-text-left > a::after {
  content: " \2056";
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.overlay-cube-image-left {
  position: relative;
  right: 130px;
  bottom: 10px;
}
footer {
  background-color: rgb(144, 144, 144);
  margin: auto;
  width: 100%;
  height: 38px;
  position: fixed;
  bottom: 0;
}
.f-container {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: max-content;
  top: 16px;
}
.f-container > a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.f-container > a:nth-child(even) {
  margin: 0 5px;
}
.f-container > a:last-child {
  color: red;
}
.f-container > a:hover {
  text-decoration: underline;
  color: #005ca0;
}

.main-content {
  padding-top: 32px;
  display: flex;
  width: 900px;
  margin: 0 auto;
}
.right-side {
  position: absolute;
}
.right-side > a {
  position: absolute;
  top: 10px;
  color: #000;
  font-size: 13px;
  width: 110px;
  height: 36px;
  padding-right: 12px;
  margin-bottom: 4px;
  margin-left: 22px;
  text-decoration: none;
}
.right-side > a:hover {
  text-decoration: underline;
  color: #005ca0;
}
.right-side > img {
  /* position: absolute; */
}

section {
  width: 440px;
  position: relative;
  right: 144px;
  /* top: 50px; */
}

.way-bar > a,
.way-bar {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  margin-bottom: 25px;
}
.way-bar > a:hover {
  text-decoration: underline;
  color: #005ca0;
}
section > .title > p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 12px;
  border-bottom: 1.25px solid;
  padding-bottom: 4px;
}
.contact-form {
  display: flex;
}
.form {
  width: 347px;
  position: absolute;
  padding: 0 18px;
}
.form > p:nth-child(1) {
  color: #005ca0;
  font-weight: bold;
  font-size: 15px;
}
.form > p:nth-child(2) {
  font-size: 13px;
  font-weight: bold;
}
.form > p:nth-child(3) {
  font-size: 12px;
}
.fields {
  width: 245px;
  font-size: 12px;
  margin-right: 51px;
  /* margin: 10px auto 0; */
}
.fields > .line-form {
  display: block;
  padding: 3px 0 3px 0;
}
.fields > .line-form > label {
  position: relative;
  display: inline-block;
  width: 75px;
}

.fields > .line-form > input {
  border: #000 solid 1.25px;
  width: 160px;
  height: 17px;
  border-radius: 0;
}
.line-form > textarea {
  /* float: right; */
  position: relative;
  width: 235px;
  height: 100px;
  border: #000 solid 1.25px;
}

button {
  float: left;
  position: relative;
  background-color: rgb(0, 0, 238);
  color: white;
}
button:hover {
  background-color: orange;
  color: #000;
}

.left-side {
  width: 292px;
  margin-top: 56px;
  position: relative;
  right: 168px;
}

.contact-up,
.contact-down {
  position: relative;
}
.contact-up > .form-side,
.contact-down > .form-side {
  position: absolute;
  top: 0;
  right: 20px;
  /* margin: 50px; */
}
.contact-down {
  margin-top: 28px;
}

.form-side > p:nth-child(1) {
  color: #005ca0;
  font-weight: bold;
  font-size: 15px;
}
.form-side > p:nth-child(2),
.form-side > p:nth-child(4) {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
.form-side > p:nth-child(3),
.form-side > p:nth-child(5) {
  margin: 0;
  font-size: 12px;
}
.form-side > p > a:hover {
  text-decoration: underline !important;
  color: #005ca0 !important;
}
* {
  box-sizing: border-box;
}
